* {
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    color: #111111;
    font-family: "Lucida Grande", Lucida, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0 auto;
    #width: 880px;
}

img { border: none; }
a { color: #121288; text-decoration: none; }
a:hover { text-decoration: underline; color: #232399; }
code { padding: 20px; line-height: 18px; }

#header { 
padding: 10px 0 20px 0;
}
#header h1 {
font-size: 26px;
font-weight: 100;
letter-spacing: -3px;
padding: 12px 0 5px 10px;
}
#header h1 a {
color: #57626a;
text-decoration: none;
}
#header h1 a:hover {
color: #57626a;
text-decoration: none;
}
#header h2 {
color: #ccc;
font-size: 15px;
font-weight: 100;
padding: 4px 0 0 50px;
letter-spacing: -1px;
line-height: 12px;
}

#menu {
height: 40px;
line-height: 40px;
background: #eee;
border-top: 3px solid #57626a;
border-bottom: 3px solid #57626a;
text-transform: uppercase;
}
#menu ul {
padding-left: 40px;
list-style-type: none;
}
#menu ul li {
display: block;
float: left;
}
#menu ul li a {
color: #57626a;
padding: 0 10px;
text-decoration: none;
font-weight: 100;
font-size: 14px;
letter-spacing: -1px;
}
#menu ul li a:hover {
color: #5762c5;
text-decoration: underline;
}

#content {
padding: 10px 20px;
}

.left {
width: 200px;
float: left;
padding: 10px;
border-right: 1px solid #bbb;
font-size: 12px;
}
.left ul {
list-style-type: square;
padding: 5px 10px 10px 20px;
color: #57626a;
}
.left h2 {
height: 30px;
font-size: 14px;
color: #666;
line-height: 30px;
font-weight: 600;
}
.left a { text-decoration: none }

.right {
width: 680px;
float: left;
text-align: justify;
padding : 0 0 0 15px;
}
.right h2 {
color: #FF4800;
font-size: 20px;
letter-spacing: -2px;
font-weight: 100;
padding : 10px 0 15px 0;
}
.right p { padding: 5px 0 5px 0; }

#footer {
background: #eee;
border-top: 3px solid #57626a;
margin-top: 20px;
text-align: center;
color: #333;
font-size: 11px;
padding: 10px;

